.footer {
    background-color: rgb(111, 226, 220);
    height: 300px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;


    margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: "Lucida Console", "Courier New", monospace; 
	font-size: 24px;
	line-height: 36px;
    text-align: center;
}