.header {
    background-color: rgb(111, 226, 220);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo {
    width: 100px;
    height: 40px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
    object-fit: contain;
}

.header_search {
    display: flex;
    flex:1;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    width: 100%;
}
.header_searchIcon {
    padding: 5px;
    height: 26px !important;
    background-color:aqua;


}
.header_navigation {
    display: flex;
    justify-content: space-evenly;
}

.header_nav_link {
    color :black;
    text-decoration: none;

}

.header_nav_link:hover {
    color :lightseagreen;
    cursor: pointer;
    text-decoration: none;
    
}
.header_options {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-left: 10px;
}
.header_optionsBasket{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.header_optionsLine1 {
    font-size: 10px;
}

.header_optionsLine2 {
    font-size: 13px;
    font-weight: 800;
}

.numberOfItemsInCart{

    text-decoration: none;
    margin-left: 10px;
}

/* &:hover {
    color: #6996FF;
    cursor: pointer;
    text-decoration: none
  } */